.dashboard_loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_title {
  font-size: 2rem;
  font-weight: 600;
  color: #1f2937; /* cinza escuro moderno */
  margin-bottom: 4px;
  letter-spacing: -0.5px;
}

.dashboard_subtitle {
  font-size: 14px;
  color: #6b7280; /* cinza suave */
  margin-bottom: 20px;
}

.dashboard_topline {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}

.dashboard_cardSla {
  flex-grow: 1;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.dashboard_cardSla_title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #6b7280;
}

.dashboard_cardSla_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboard_cardUrgencias {
  flex-grow: 1;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.dashboard_linhaUrgencia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
}

.dashboard_summary {
  margin-bottom: 24px;
}

.dashboard_summary_cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.dashboard_cardNumero {
  flex-grow: 1;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.dashboard_summary_title {
  font-weight: bold;
  font-size: 1rem;
  color: #1f2937;
  margin-bottom: 16px;
}

.dashboard_cargaTrabalho_title {
  font-weight: bold;
  font-size: 1rem;
  color: #1f2937;
  margin-bottom: 16px;
}

.dashboard_cargaTrabalho_cardtitle {
  font-weight: bold;
  font-size: 1rem;
  color: #1f2937;
  margin-bottom: 16px;
}

.dashboard_cargaTrabalho_card {
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
